{% load static menu_tags wagtailcore_tags %}

<div id="site-header" class="bg-white dark:bg-gray-900 {% if request.path == '/' %}fixed top-0{% endif %}">
  <div class="header-logo">
    <a href="/">
      <img
        id="white-logo"
        class="hidden"
        src="{% static 'images/logos/logo_dental_luna_blanco.png' %}"
        alt="Luna Dental Studio"
      />
      <img
        id="black-logo"
        src="{% static 'images/logos/logo_dental_luna_negro.png' %}"
        alt="Luna Dental Studio"
      />
    </a>
  </div>
  <nav id="nav-links">
    {% for item in menu_items %}
    <a href="{{ item.href }}">
      <h4
        class="nav-link {% if request.path == item.href %}underline underline-offset-8{% endif %}"
      >
        {{ item.text }}
      </h4>
    </a>
    {% endfor %} 
    <div id="nav-icons">
      <a href="https://www.facebook.com/lunadentalstudio/" target="_blank">
        <img class="nav-icon invert-icons" src="{% static 'images/icons/icons8-facebook.svg' %}" alt="">
      </a>
      <a href="https://www.instagram.com/lunadentalstudio/" target="_blank">
        <img class="nav-icon invert-icons" src="{% static 'images/icons/icons8-instagram.svg' %}" alt="">
      </a>
      <img id="dark-mode-btn" class="nav-icon invert-icons" src="{% static 'images/icons/icons8-idea.svg' %}" alt="">
    </div>
  </nav>
  {# Mobile #}
  <div id="hamburger-menu" class="flex items-center md:hidden relative">
    <img class="nav-icon invert-icons" src="{% static 'images/icons/icons8-menu.svg' %}" alt="">

      {% include 'components/mobile_menu.html' %}
    
  </div>
</div>
