{% load static menu_tags %}

<div
  id="site-header"
  class="{% if request.path == '/' %}fixed top-0 z-[4]{% endif %} w-full flex justify-between pl-4 pr-8 md:px-4 lg:px-12 py-4 mb-5 bg-white dark:bg-gray-900 z-[10] transition-all duration-300"
>

  <div class="header-logo">
    <a href="/">
      <img
        id="white-logo"
        class="hidden"
        src="{% static 'images/logos/logo_dental_luna_blanco.png' %}"
        alt="Luna Dental Studio"
      />
      <img
        id="black-logo"
        src="{% static 'images/logos/logo_dental_luna_negro.png' %}"
        alt="Luna Dental Studio"
      />
    </a>
  </div>
  <nav id="nav-links" class="flex w-[40%] justify-evenly">
    {% for item in menu_items %}
    <a href="{{ item.href }}" class="">
      <h4
        class="nav-link {% if request.path == item.href %}underline underline-offset-8{% endif %}"
      >
        {{ item.text }}
      </h4>
    </a>
    {% endfor %} 
    <div id="nav-icons" class="flex items-center gap-x-3">
      <a href="https://www.facebook.com/lunadentalstudio/" target="_blank">
        <img class="nav-icon invert-icons" src="{% static 'images/icons/icons8-facebook.svg' %}" alt="">
      </a>
      <a href="https://www.instagram.com/lunadentalstudio/" target="_blank">
        <img class="nav-icon invert-icons" src="{% static 'images/icons/icons8-instagram.svg' %}" alt="">
      </a>
      <img id="dark-mode-btn" class="nav-icon invert-icons" src="{% static 'images/icons/icons8-idea.svg' %}" alt="">
    </div>
    {% comment %} {% include '../_blocks/dark_mode_btn.html' %} {% endcomment %}
  </nav>
  <div id="mobile-menu" class="flex items-center md:hidden">
    <img id="hamburger-menu" class="nav-icon invert-icons" src="{% static 'images/icons/icons8-menu.svg' %}" alt="">
  </div>

</div>
