{% load wagtailcore_tags  %}

<div class="contact-info">
  <div class="container">
    <div class="text">
      <div class="address">
        <h2>{{ self.text_title }}</h2>
        {{ self.text|richtext }}
      </div>
      <h2>{{ self.list_title }}</21>
      <ul>
        {% for item in self.list %}
        <li><span>{{ item.value.title }}</span> <span>{{ item.value.text }}</span></li>
        {% endfor %}
      </ul>
    </div>
    <div class="map">
      {% include '_blocks/map_block.html' %}
    </div>
  </div>
</div>
