{% load wagtailcore_tags wagtailimages_tags %}

<li class="list-item">
  <div class="image">{% image self.image width-400 %}</div>
  <div class="text">
    <h2>{{ self.title }}</h2>
    <p>{{ self.text|richtext }}</p>
  </div>
  <a class="arrow" {% for link in self.link  %}{% if link.block_type == 'page_link' %}href="{% pageurl link.value %}"{% else %}href="{{ link.value }}" target="_blank"{% endif %}{% endfor %}>
    <svg class="dark:invert" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m24 40-2.1-2.15L34.25 25.5H8v-3h26.25L21.9 10.15 24 8l16 16Z"/></svg>
  </a>
</li>
