{% load static menu_tags %}

<div id="site-header" class="flex justify-between px-[2.25rem] py-4 mb-5">
  <div class="header-logo">
    <a href="/">
      <img
        id="white-logo"
        class="w-[250px] hidden"
        src="{% static 'images/logos/logo_dental_luna_blanco.png' %}"
        alt="Luna Dental Studio"
      />
      <img
        id="black-logo"
        class="w-[250px]"
        src="{% static 'images/logos/logo_dental_luna_negro.png' %}"
        alt="Luna Dental Studio"
      />
    </a>
  </div>
  <nav class="flex w-[45%] justify-evenly">
    {% for item in menu_items  %}
    <a href="{{ item.href }}">
      <h4>{{ item.text }}</h4>
    </a>
    {% endfor %}
    {% comment %} <h4>Inicio</h4>
    <h4>Laboratorio</h4>
    <h4>Servicios</h4>
    <h4>Trabajos</h4> {% endcomment %}
    {% include '../_blocks/dark_mode_btn.html' %}
  </nav>
</div>
