{% load static menu_tags %}

<div
  id="site-header"
  class="{% if request.path == '/' %}fixed top-0 z-[4]{% endif %} w-full flex justify-between px-[2.25rem] py-4 mb-5 bg-white dark:bg-[#1a1a1a] z-[10] transition-all duration-300"
>
  <div class="header-logo">
    <a href="/">
      <img
        id="white-logo"
        class="w-[250px] hidden"
        src="{% static 'images/logos/logo_dental_luna_blanco.png' %}"
        alt="Luna Dental Studio"
      />
      <img
        id="black-logo"
        class="w-[250px]"
        src="{% static 'images/logos/logo_dental_luna_negro.png' %}"
        alt="Luna Dental Studio"
      />
    </a>
  </div>
  <nav class="flex w-[45%] justify-evenly">
    {% for item in menu_items %}
    <a href="{{ item.href }}">
      <h4
        class="nav-link {% if request.path == item.href %}underline underline-offset-8{% endif %}"
      >
        {{ item.text }}
      </h4>
    </a>
    {% endfor %} {% include '../_blocks/dark_mode_btn.html' %}
  </nav>
</div>
